{% load staticfiles %}

<html lang="en">
<head>
  <title>My Django WebSite</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/home_new.css' %}" rel="stylesheet">
  <script src = "{% static 'js/jquery.min.js' %}"></script>
  <script src = "{% static 'js/bootstrap.min.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/env/index.js' %}"></script>
  <script type="application/javascript" src="{% static 'js/log/home.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Parag Rajabhoj</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" data-toggle="dropdown" role="button" aria-expanded="false">
					<span class="glyphicon glyphicon-off"></span>
				</a>
				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
					</li>
				</ul>
			</li>
		</ul>
    </div>
  </div>
</nav>
  
<div class="container-fluid text-left">    
  <div class="row content">
    <div class="col-sm-2 sidenav ">
		{% block left_side_nav %}
		{% endblock %}
		{% block left_side_nav_javascript %}
		{% endblock %}
    </div>
    <div class="col-sm-8 text-left info-div">
		{% block middle_block %}
		{% endblock %}
		{% block middle_block_javascript %}
		{% endblock %}
    </div>
    <div class="col-sm-2 sidenav">
		{% block right_side_nav %}
		{% endblock %}
		{% block right_side_nav_javascript %}
		{% endblock %}
    </div>
  </div>
</div>

<footer class="container-fluid text-left">
  <p><span class="glyphicon glyphicon-copyright-mark"></span> parag.rajabhoj@gmail.com</p>
</footer>
</body>
</html>